.Apresentacao {
    width: 80%;
    height: 70%;
    background-image: url("./../../imagens/images.jpeg");
    background-size: 100% 100%;
    padding-right: 50px;
}

.Alunos {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.Alunos .linha{
    margin: 0px 30px;
}

button {
    background-color: #D5A32E;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    width: 60%;
    padding: 5px;
    padding: 5px;
    box-shadow: 0px 4px 8px 0px #121212;
    margin-bottom: 20px;
}

button:active{
    transform: translateY(4px);
    box-shadow: 0px 0px 8px 0px #121212;
}